
 h1{
    text-align: center
}
h2{
    color: blue
}
 p2{
    font-weight: 600
}
p3{
    text-align: justify
}
p {
    text-align: justify
}

pp1 {

    text-decoration: overline
}
p4{

    color:#45b;
     background-color: white
}
.wish p{
    text-align: right
}
.main{
    background-color: #ddf
}